.git
.github
target
devops
launch
scripts
workflows
Makefile
Tiltfile
**/target/
**/*.txt
**/*.md
./docker-cargo
Dockerfile
compose.yml
.gitignore
.dockerignore

tmp
benchmarks
chains
**/chains/

# dotfiles in the repo root
/.*