[package]
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
edition = '2018'
homepage = 'https://substrate.dev'
license = 'Unlicense'
name = 'mangata-runtime'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
wasm-builder-runner = { package = 'substrate-wasm-builder-runner', version = '1.0.5' }

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.4'

[dependencies]
hex-literal = { optional = true, version = '0.3.1' }
serde = { features = ['derive'], optional = true, version = '1.0.101' }

# local dependencies
pallet-xyk = { path = '../pallets/xyk', default-features = false, version = '0.1.0' }
xyk-runtime-api = { path = '../pallets/xyk/runtime-api', default-features = false, version = '2.0.0' }
random-seed-runtime-api = { git = 'https://github.com/mangata-finance/substrate', branch='mangata-dev', default-features = false, version = '2.0.0' }
extrinsic-info-runtime-api = { git = 'https://github.com/mangata-finance/substrate', branch='mangata-dev', default-features = false, version = '2.0.0' }
frame-executive = { git = 'https://github.com/mangata-finance/substrate', branch='mangata-dev', default-features = false, version = '2.0.0' }
pallet-timestamp = { git = 'https://github.com/mangata-finance/substrate', branch='mangata-dev', default-features = false, version = '2.0.0' }
pallet-random-seed = { git = 'https://github.com/mangata-finance/substrate', branch='mangata-dev', default-features = false, version='2.0.0' }
pallet-assets-info = { path = '../pallets/assets-info', default-features = false, version = '2.0.0' }
pallet-staking = { path = '../pallets/staking', default-features = false, version = "2.0.0" }
pallet-staking-reward-curve = { path = '../pallets/staking/reward-curve', default-features = false, version = "2.0.0" }
pallet-treasury = { git = 'https://github.com/mangata-finance/substrate', branch='mangata-dev', default-features = false, version='2.0.0' }
mangata-primitives = { path = '../primitives/mangata', default-features = false, version = "0.1.0" }

# Substrate dependencies
frame-benchmarking = { default-features = false, optional = true, version = '2.0.0' }
frame-support = { default-features = false, version = '2.0.0' }
frame-system = { default-features = false, version = '2.0.0' }
frame-system-benchmarking = { default-features = false, optional = true, version = '2.0.0' }
frame-system-rpc-runtime-api = { default-features = false, version = '2.0.0' }
pallet-babe = { default-features = false, version = "2.0.0" }
pallet-offences = { default-features = false, version = "2.0.0" }
pallet-session = { default-features = false, version = "2.0.0" }
pallet-authorship = { default-features = false, version = "2.0.0" }
pallet-balances = { default-features = false, version = '2.0.0' }
pallet-grandpa = { default-features = false, version = '2.0.0' }
pallet-randomness-collective-flip = { default-features = false, version = '2.0.0' }
pallet-sudo = { default-features = false, version = '2.0.0' }
pallet-transaction-payment = { default-features = false, version = '2.0.0' }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, version = '2.0.0' }
sp-api = { default-features = false, version = '2.0.0' }
sp-block-builder = { default-features = false, version = '2.0.0' }
sp-consensus-babe = { default-features = false, version = "0.8.0" }
sp-core = { default-features = false, version = '2.0.0' }
sp-inherents = { default-features = false, version = '2.0.0' }
sp-offchain = { default-features = false, version = '2.0.0' }
sp-runtime = { default-features = false, version = '2.0.0' }
sp-session = { default-features = false, version = '2.0.0' }
sp-std = { default-features = false, version = '2.0.0' }
sp-transaction-pool = { default-features = false, version = '2.0.0' }
sp-version = { default-features = false, version = '2.0.0' }
orml-tokens = { git = 'https://github.com/mangata-finance/open-runtime-module-library', default-features = false, branch="mangata-dev" }

# Snowmangata-dev pallets

[dependencies.bridge]
default-features = false
package = "pallet-bridge"
path = "../pallets/bridge"
version = "0.1.1"

[dependencies.verifier]
default-features = false
package = "pallet-verifier"
git = 'https://github.com/mangata-finance/snowbridge'
branch= 'mangata-dev'

[dependencies.bridged-asset]
default-features = false
package = "artemis-asset"
git = 'https://github.com/mangata-finance/snowbridge'
branch= 'mangata-dev'

[dependencies.eth-app]
default-features = false
package = "artemis-eth-app"
git = 'https://github.com/mangata-finance/snowbridge'
branch= 'mangata-dev'

[dependencies.erc20-app]
default-features = false
package = "artemis-erc20-app"
git = 'https://github.com/mangata-finance/snowbridge'
branch= 'mangata-dev'

[features]
default = ['std']
runtime-benchmarks = [
    'hex-literal',
    'frame-benchmarking',
    'frame-support/runtime-benchmarks',
    'frame-system-benchmarking',
    'frame-system/runtime-benchmarks',
    'pallet-balances/runtime-benchmarks',
    'pallet-timestamp/runtime-benchmarks',
    'sp-runtime/runtime-benchmarks',
    'bridge/runtime-benchmarks',
	"pallet-staking/runtime-benchmarks",
]
std = [
    'codec/std',
    'serde',
    'frame-executive/std',
    'frame-support/std',
    'frame-system/std',
    'frame-system-rpc-runtime-api/std',
    "sp-consensus-babe/std",
    "pallet-babe/std",
    "pallet-offences/std",
    "pallet-authorship/std",
    'pallet-balances/std',
    'pallet-grandpa/std',
    'pallet-randomness-collective-flip/std',
    'pallet-sudo/std',
    'pallet-timestamp/std',
    'pallet-transaction-payment/std',
    'pallet-transaction-payment-rpc-runtime-api/std',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    "bridge/std",
    "verifier/std",
    "bridged-asset/std",
    "eth-app/std",
    "erc20-app/std",
    "pallet-assets-info/std",
    'orml-tokens/std',
    "pallet-xyk/std",
    "pallet-staking/std",
    "pallet-treasury/std",
]
