[package]
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
edition = '2018'
homepage = 'https://substrate.dev'
license = 'Unlicense'
name = 'mangata-runtime'
version = '2.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
wasm-builder-runner = { package = 'substrate-wasm-builder-runner', version = '1.0.5' }

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.4'

[dependencies]
hex-literal = { optional = true, version = '0.3.1' }
serde = { features = ['derive'], optional = true, version = '1.0.101' }
static_assertions = "1.1.0"

# local dependencies
pallet-encrypted-tx = { path = '../pallets/encrypted-tx', default-features = false, version = '0.1.0' }
pallet-xyk = { path = '../pallets/xyk', default-features = false, version = '0.1.0' }
xyk-runtime-api = { path = '../pallets/xyk/runtime-api', default-features = false, version = '2.0.0' }
extrinsic-info-runtime-api = {  default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-executive = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-timestamp = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-random-seed = {  default-features = false, version='2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-assets-info = { path = '../pallets/assets-info', default-features = false, version = '2.0.0' }
pallet-staking = { path = '../pallets/staking', default-features = false, version = "2.0.0" }
pallet-staking-reward-curve = { path = '../pallets/staking/reward-curve', default-features = false, version = "2.0.0" }
pallet-treasury = { default-features = false, version='2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
mangata-primitives = { path = '../primitives/mangata', default-features = false, version = "0.1.0" }
orml-tokens = {  default-features = false, version = "0.3.1", git = "https://github.com/mangata-finance/open-runtime-module-library", branch = "mangata-dev" }
pallet-sudo-origin = { path = '../pallets/sudo-origin', default-features = false, version = "2.0.0" }

# Substrate dependencies
frame-benchmarking = { default-features = false, optional = true, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-support = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-system = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-system-benchmarking = { default-features = false, optional = true, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-system-rpc-runtime-api = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-babe = { default-features = false, version = "2.0.0" , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-offences = { default-features = false, version = "2.0.0" , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-session = { default-features = false, version = "2.0.0" , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-authorship = { default-features = false, version = "2.0.0" , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-balances = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-grandpa = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-randomness-collective-flip = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-sudo = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-transaction-payment = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-api = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-block-builder = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-consensus-babe = { default-features = false, version = "0.8.0" , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-core = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-inherents = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-offchain = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-runtime = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-session = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-std = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-transaction-pool = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-version = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
verifier = { default-features = false, package = "pallet-verifier", version = "0.1.1" , git = "https://github.com/mangata-finance/snowbridge", branch = "mangata-dev"}
bridged-asset = { default-features = false, package = "artemis-asset", version = "0.1.1" , git = "https://github.com/mangata-finance/snowbridge", branch = "mangata-dev"}
eth-app = { default-features = false, package = "artemis-eth-app", version = "0.1.1" , git = "https://github.com/mangata-finance/snowbridge", branch = "mangata-dev"}
erc20-app = { default-features = false, package = "artemis-erc20-app", version = "0.1.1" , git = "https://github.com/mangata-finance/snowbridge", branch = "mangata-dev"}
pallet-elections-phragmen = { version = "2.0.0", default-features = false, git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-collective = { version = "2.0.0", default-features = false, git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }

# Snowmangata-dev pallets

[dependencies.bridge]
default-features = false
package = "pallet-bridge"
path = "../pallets/bridge"
version = "0.1.1"


[features]
default = ['std']
runtime-benchmarks = [
    'hex-literal',
    'frame-benchmarking',
    'frame-support/runtime-benchmarks',
    'frame-system-benchmarking',
    'frame-system/runtime-benchmarks',
    'pallet-timestamp/runtime-benchmarks',
    'sp-runtime/runtime-benchmarks',
    'bridge/runtime-benchmarks',
	"pallet-staking/runtime-benchmarks",
]
std = [
    'codec/std',
    'serde',
    'frame-executive/std',
    'frame-support/std',
    'frame-system/std',
    'frame-system-rpc-runtime-api/std',
    "sp-consensus-babe/std",
    "pallet-babe/std",
    "pallet-offences/std",
    "pallet-authorship/std",
    'pallet-grandpa/std',
    'pallet-randomness-collective-flip/std',
    'pallet-sudo/std',
    'pallet-timestamp/std',
    'pallet-transaction-payment/std',
    'pallet-transaction-payment-rpc-runtime-api/std',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    "bridge/std",
    "verifier/std",
    "bridged-asset/std",
    "eth-app/std",
    "erc20-app/std",
    "pallet-assets-info/std",
    'orml-tokens/std',
    "pallet-xyk/std",
    "xyk-runtime-api/std",
    "pallet-staking/std",
    "pallet-treasury/std",
    "pallet-sudo-origin/std",
    "pallet-collective/std",
    "pallet-elections-phragmen/std",
    "pallet-encrypted-tx/std",
    "mangata-primitives/std",
]
