[package]
authors = ['Mangata team']
edition = '2018'
name = 'pallet-xyk'
version = '0.1.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.4'

[dependencies]
hex = { package = "rustc-hex", version = "2.1.0", default-features = false }
hex-literal = { version = "0.3.1", default-features = false }
serde = { version = "1.0.111", optional = true }
log = "0.4"

frame-support = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-system = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-runtime = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-core = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-std = { version = "2.0.0", default-features = false , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
mangata-primitives = { default-features = false, version = '0.1.0' , path = '../../primitives/mangata'}
sp-arithmetic = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
libm = { default-features = false, git = "https://github.com/rust-lang/libm", rev="2f3fc968f43d345f9b449938d050a9ea46a04c83"}

orml-tokens = {  default-features = false, version = '0.3.1' , git = "https://github.com/mangata-finance/open-runtime-module-library", branch = "mangata-dev" }

pallet-assets-info = { path = '../assets-info', default-features = false, version = '2.0.0' }



[dev-dependencies]

sp-io = { default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
env_logger = "0.9.0"

[features]
default = ['std']
std = [
    "hex/std",
	"serde",
    'codec/std',
    "sp-std/std",
	"sp-core/std",
    'frame-support/std',
    'frame-system/std',
    "pallet-assets-info/std",
]
