[package]
name = "rollup-runtime"
version = "1.0.0"
description = "Mangata rollup runtime"
authors = ["Mangata Team"]
edition.workspace = true
license = "MIT-0"
publish = false
repository.workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop"}

[dependencies]
codec = { package = "parity-scale-codec", version = "3.6.1", default-features = false, features = ["derive"] }
scale-info = { version = "2.5.0", default-features = false, features = ["derive"] }
hex-literal = { version = "0.3.1" }
log = { version = "0.4.17", default-features = false }
smallvec = "1.6.1"
static_assertions = "1.1.0"

# Local Dependencies
pallet-bootstrap = { path = "../../pallets/bootstrap", default-features = false, version = "0.1.0" }
pallet-fee-lock = { path = "../../pallets/fee-lock", default-features = false }
pallet-issuance = { path = "../../pallets/issuance", default-features = false }
pallet-maintenance = { path = "../../pallets/maintenance", default-features = false }
pallet-multipurpose-liquidity = { path = "../../pallets/multipurpose-liquidity", default-features = false }
pallet-proof-of-stake = { path = "../../pallets/proof-of-stake", default-features = false, version = "0.1.0" }
pallet-sudo-origin = { path = "../../pallets/sudo-origin", default-features = false }
pallet-xyk = { path = "../../pallets/xyk", default-features = false, version = "0.1.0" }
parachain-staking = { path = "../../pallets/parachain-staking", default-features = false }
xyk-runtime-api = { path = "../../pallets/xyk/runtime-api", default-features = false, version = "2.0.0" }
proof-of-stake-runtime-api = { path = '../../pallets/proof-of-stake/runtime-api', default-features = false }
metamask-signature-runtime-api = { path = '../../pallets/metamask-signature-runtime-api', default-features = false }

# Substrate Dependencies
## Substrate Primitive Dependencies
mangata-support = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
mangata-types = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-utility-mangata = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-api = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-block-builder = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-consensus-aura = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-consensus-grandpa = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-core = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-inherents = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-io = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-offchain = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-runtime = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-session = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-std = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-storage = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-transaction-pool = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-ver = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-version = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-weights = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
sp-application-crypto = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }

## Substrate FRAME Dependencies
frame-benchmarking = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false, optional = true }
frame-executive = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
frame-support = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
frame-system = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
frame-system-benchmarking = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false, optional = true }
frame-system-rpc-runtime-api = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
frame-try-runtime = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false, optional = true }
ver-api = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }

## Substrate Pallet Dependencies
pallet-aura = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-grandpa = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-authorship = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-collective-mangata = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-identity = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-proxy = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-session = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-sudo-mangata = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-timestamp = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-transaction-payment-mangata = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-transaction-payment-mangata-rpc-runtime-api = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-treasury = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }
pallet-vesting-mangata = { git = "https://github.com/mangata-finance/polkadot-sdk", branch = "develop", default-features = false }

# Open-Runtime-Module-Library Dependencies
orml-asset-registry = { version = "0.4.1-dev", git = "https://github.com/mangata-finance/open-runtime-module-library", branch = "develop", default-features = false }
orml-tokens = { version = "0.4.1-dev", git = "https://github.com/mangata-finance/open-runtime-module-library", branch = "develop", default-features = false }
orml-traits = { version = "0.4.1-dev", git = "https://github.com/mangata-finance/open-runtime-module-library", branch = "develop", default-features = false }

# Crowdloan dependencies
pallet-crowdloan-rewards = { git = "https://github.com/mangata-finance/crowdloan-rewards", branch = "develop", default-features = false }

[features]
default = ["std"]
std = [
	"codec/std",
	"frame-benchmarking/std",
	"frame-executive/std",
	"frame-support/std",
	"frame-system-benchmarking/std",
	"frame-system-rpc-runtime-api/std",
	"frame-system/std",
	"frame-try-runtime/std",
	"log/std",
	"mangata-support/std",
	"mangata-types/std",
	"orml-asset-registry/std",
	"orml-tokens/std",
	"orml-traits/std",
	"pallet-aura/std",
	"pallet-authorship/std",
	"pallet-bootstrap/std",
	"pallet-collective-mangata/std",
	"pallet-crowdloan-rewards/std",
	"pallet-fee-lock/std",
	"pallet-identity/std",
	"pallet-issuance/std",
	"pallet-maintenance/std",
	"pallet-multipurpose-liquidity/std",
	"pallet-proof-of-stake/std",
	"pallet-proxy/std",
	"pallet-session/std",
	"pallet-sudo-mangata/std",
	"pallet-sudo-origin/std",
	"pallet-timestamp/std",
	"pallet-transaction-payment-mangata-rpc-runtime-api/std",
	"pallet-transaction-payment-mangata/std",
	"pallet-treasury/std",
	"pallet-utility-mangata/std",
	"pallet-vesting-mangata/std",
	"pallet-xyk/std",
	"parachain-staking/std",
	"proof-of-stake-runtime-api/std",
	"metamask-signature-runtime-api/std",
	"scale-info/std",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-storage/std",
	"sp-transaction-pool/std",
	"sp-ver/std",
	"sp-version/std",
	"sp-weights/std",
	"ver-api/std",
	"xyk-runtime-api/std",
	"sp-consensus-grandpa/std",
	"pallet-grandpa/std",
	"sp-application-crypto/std",
]

try-runtime = [
	"frame-executive/try-runtime",
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"frame-try-runtime",
	"orml-asset-registry/try-runtime",
	"orml-tokens/try-runtime",
	"pallet-aura/try-runtime",
	"pallet-authorship/try-runtime",
	"pallet-bootstrap/try-runtime",
	"pallet-collective-mangata/try-runtime",
	"pallet-crowdloan-rewards/try-runtime",
	"pallet-fee-lock/try-runtime",
	"pallet-identity/try-runtime",
	"pallet-issuance/try-runtime",
	"pallet-maintenance/try-runtime",
	"pallet-multipurpose-liquidity/try-runtime",
	"pallet-proof-of-stake/try-runtime",
	"pallet-proxy/try-runtime",
	"pallet-session/try-runtime",
	"pallet-sudo-mangata/try-runtime",
	"pallet-sudo-origin/try-runtime",
	"pallet-timestamp/try-runtime",
	"pallet-transaction-payment-mangata/try-runtime",
	"pallet-treasury/try-runtime",
	"pallet-utility-mangata/try-runtime",
	"pallet-vesting-mangata/try-runtime",
	"pallet-xyk/try-runtime",
	"parachain-staking/try-runtime",
	"sp-runtime/try-runtime",
	"pallet-grandpa/try-runtime",
]

fast-runtime = []

runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system-benchmarking",
	"frame-system-benchmarking/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"mangata-support/runtime-benchmarks",
	"orml-asset-registry/runtime-benchmarks",
	"orml-tokens/runtime-benchmarks",
	"pallet-bootstrap/runtime-benchmarks",
	"pallet-collective-mangata/runtime-benchmarks",
	"pallet-crowdloan-rewards/runtime-benchmarks",
	"pallet-fee-lock/runtime-benchmarks",
	"pallet-identity/runtime-benchmarks",
	"pallet-issuance/runtime-benchmarks",
	"pallet-maintenance/runtime-benchmarks",
	"pallet-multipurpose-liquidity/runtime-benchmarks",
	"pallet-proof-of-stake/runtime-benchmarks",
	"pallet-proxy/runtime-benchmarks",
	"pallet-sudo-mangata/runtime-benchmarks",
	"pallet-timestamp/runtime-benchmarks",
	"pallet-treasury/runtime-benchmarks",
	"pallet-utility-mangata/runtime-benchmarks",
	"pallet-vesting-mangata/runtime-benchmarks",
	"pallet-xyk/runtime-benchmarks",
	"parachain-staking/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"pallet-grandpa/runtime-benchmarks",
]