[package]
authors = ['Substrate DevHub <https://github.com/substrate-developer-hub>']
build = 'build.rs'
description = 'The fair DEX'
edition = '2018'
homepage = 'https://substrate.dev'
license = 'Unlicense'
name = 'mangata-node'
version = '0.2.0'

[[bin]]
name = 'mangata-node'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-build-script-utils = '2.0.0'

[dependencies.artemis-core]
default-features = false
version = "0.1.1"
git = "https://github.com/mangata-finance/snowbridge"
branch = "mangata-dev" 

[dependencies]
jsonrpc-core = "15.0"
jsonrpc-core-client = "15.0"
jsonrpc-derive = "15.0"
structopt = '0.3.8'

# local dependencies
mangata-runtime = { path = '../runtime', version = '2.0.0' }

# Substrate dependencies
frame-benchmarking = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-benchmarking-cli = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-transaction-payment-rpc = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-transaction-payment = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-basic-authorship = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-cli = { features = ['wasmtime'], version = '0.8.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-client-api = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-consensus = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-consensus-babe = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-consensus-babe = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-authority-discovery = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
#grandpa-primitives = {package = 'sp-finality-grandpa', version = '2.0.0'}
sp-timestamp = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-finality-tracker = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-keyring  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-io  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-chain-spec  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-network  = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
#grandpa  = {package = 'sc-finality-grandpa', version = '0.8.0'}
sc-client-db  = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-offchain  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-tracing  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-telemetry  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-authority-discovery  = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-system  = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-balances = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
frame-support = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-authority-discovery = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
pallet-grandpa = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }

pallet-staking = {version='2.0.0', path="../pallets/staking"}

sc-executor = { features = ['wasmtime'], version = '0.8.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-finality-grandpa = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-rpc = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-rpc-api = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-service = { features = ['wasmtime'], version = '0.8.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sc-transaction-pool = {version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-api = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-block-builder = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-blockchain = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-consensus = { version = '0.8.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-core = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-finality-grandpa = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-inherents = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-runtime = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
sp-transaction-pool = { version = '2.0.0', git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }
substrate-frame-rpc-system = { version = '2.0.0', path = '../utils/frame/rpc/system'}
xyk-rpc = { default-features = false, version = '2.0.0', path = '../pallets/xyk/rpc' }
xyk-runtime-api = { default-features = false, version = '2.0.0', path = '../pallets/xyk/runtime-api' }
extrinsic-info-runtime-api = {  default-features = false, version = '2.0.0' , git = "https://github.com/mangata-finance/substrate", branch = "mangata-dev" }

hex-literal = { version = "0.3.1", default-features = false }

[features]
default = ['std']
runtime-benchmarks = ['mangata-runtime/runtime-benchmarks']
std = [
		"mangata-runtime/std",
		"xyk-rpc/std",
]
