name: Release

on:
  release:
    types: [published]


jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta [kusama]
        id: meta_kusama
        uses: docker/metadata-action@v4.1.1
        with:
          images: docker.io/mangatasolutions/mangata-node
          tags: type=semver,prefix=kusama-,pattern={{ version }}
          flavor: |
            latest=false

      - name: Docker meta [rococo]
        id: meta_rococo
        uses: docker/metadata-action@v4.1.1
        with:
          images: docker.io/mangatasolutions/mangata-node
          tags: type=semver,prefix=rococo-,pattern={{ version }}
          flavor: |
            latest=false

      - name: Tag and push image [kusama]
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: docker.io/mangatasolutions/mangata-node:${{ github.sha }}
          dst: ${{ steps.meta_kusama.outputs.tags }}

      - name: Tag and push image [rococo]
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: docker.io/mangatasolutions/mangata-node:${{ github.sha }}
          dst: ${{ steps.meta_rococo.outputs.tags }}

      - name: Extract wasms
        run: |
          docker run --entrypoint="" --rm mangatasolutions/mangata-node:${{ github.sha }} cat /mangata/mangata_kusama_runtime.compact.compressed.wasm > kusama.wasm
          docker run --entrypoint="" --rm mangatasolutions/mangata-node:${{ github.sha }} cat /mangata/mangata_rococo_runtime.compact.compressed.wasm > rococo.wasm

      - name: Calculate Blake2 hashes
        working-directory: scripts/blake2-hash
        run: |
          npm install
          echo -n "kusama-${{ github.ref_name }}.wasm [blake2]: " > hashes.txt
          node index.js -i ../../kusama.wasm  >> hashes.txt
          echo -n "kusama-${{ github.ref_name }}.wasm [md5sum]: " >> hashes.txt
          md5sum ../../kusama.wasm | awk '{ print $1 }' >> hashes.txt
          echo -n "rococo-${{ github.ref_name }}.wasm [blake2]: " >> hashes.txt
          node index.js -i ../../rococo.wasm  >> hashes.txt
          echo -n "rococo-${{ github.ref_name }}.wasm [md5sum]: " >> hashes.txt
          md5sum ../../rococo.wasm | awk '{ print $1 }' >> hashes.txt

      - name: Rename artifacts
        run: |
          mv kusama.wasm kusama-${{ github.ref_name }}.wasm
          mv rococo.wasm rococo-${{ github.ref_name }}.wasm
          mv ./scripts/blake2-hash/hashes.txt hashes-${{ github.ref_name }}.txt

      - name: Upload wasms to release page
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          allowUpdates: true
          artifacts: "kusama-${{ github.ref_name }}.wasm,rococo-${{ github.ref_name }}.wasm,hashes-${{ github.ref_name }}.txt"

