name: Release

on:
  release:
    types: [published]

jobs:
  publish-kusama:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4.0.1
        with:
          images: docker.io/mangatasolutions/mangata-node
          tags: type=semver,prefix=kusama-,pattern={{version}}
          flavor: |
            latest=false
      
      - name: Tag and push image
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: docker.io/mangatasolutions/mangata-node:kusama-${{ github.sha }}
          dst: |
            ${{ steps.meta.outputs.tags }}

  publish-rococo:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4.0.1
        with:
          images: docker.io/mangatasolutions/mangata-node
          tags: type=semver,prefix=rococo-,pattern={{version}}
          flavor: |
            latest=false

      - name: Tag and push image
        uses: akhilerm/tag-push-action@v2.0.0
        with:
          src: docker.io/mangatasolutions/mangata-node:rococo-${{ github.sha }}
          dst: |
            ${{ steps.meta.outputs.tags }}
