name: Reusable generate types workflow

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to create in gasp-dev-kit"
        type: string
        required: true
      parachainDocker:
        description: "Name of the parachain docker reference"
        type: string
        required: false
        default: "mangatasolutions/rollup-node:develop"
      globalVersion:
        description: "Set Mangata node version."
        type: string
        required: true
  workflow_call:
    inputs:
      branch:
        description: "Branch to create in gasp-dev-kit"
        type: string
        required: true
      parachainDocker:
        description: "Name of the parachain docker reference"
        type: string
        required: false
        default: "mangatasolutions/rollup-node:latest"
      globalVersion:
        description: "Set Mangata node version."
        type: string
        required: true

permissions:
  contents: write
  id-token: write
  deployments: write
  checks: write

jobs:
  generate-mangata-types:
    runs-on: ubuntu-latest
    env:
      MANGATA_NODE_VERSION: ${{ inputs.globalVersion }}
      PARACHAIN_DOCKER_IMAGE: ${{ inputs.parachainDocker || format('mangatasolutions/rollup-node:{0}', inputs.globalVersion) }}
      BRANCH: ${{ inputs.branch }}
    steps:
      - uses: actions/checkout@v4

      - name: Create branch ${{ env.BRANCH }} in gasp-dev-kit
        uses: GuillaumeFalourd/create-other-repo-branch-action@v1.5
        with:
          repository_owner: mangata-finance
          repository_name: gasp-dev-kit
          new_branch_name: ${{ env.BRANCH }}
          new_branch_ref: eth-rollup-develop
          ignore_branch_exists: true
          access_token: ${{ secrets.BOT_GITHUB_TOKEN }}

      - name: Invoke workflow in gasp-dev-kit repo with inputs
        uses: jonas-schievink/workflow-proxy@v1
        with:
          ref: ${{ env.BRANCH }}
          workflow: pr-automation-types-rollup-solochain.yml
          repo: mangata-finance/gasp-dev-kit
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          inputs: '{"parachainDocker": "${{ env.PARACHAIN_DOCKER_IMAGE }}", "branch": "${{ env.BRANCH }}"}'